{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% image page.banner_image fill-400x400 as img %}
<div class="card" style="background-image: url('{{img.url}}'); background-size:cover">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{page.title}}</h5>
    <p class="card-text">{{page.banner_title|richtext}}</p>
    {% if page.banner_page_link %}
    <a href="{{page.banner_page_link.url}}" class="btn btn-primary">{{page.banner_cta}}</a>
    {% endif %}
  </div>
  
  {% for block in page.content %}
    {% include_block block %}
  {% endfor %}
  
  {% if page.carousel_items.all %}
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      {% for item in page.carousel_items.all %}
      <button type="button" 
              data-bs-target="#carouselExampleCaptions" 
              data-bs-slide-to="{{ forloop.counter0 }}" 
              {% if forloop.first %}class="active" aria-current="true"{% endif %}
              aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    
    <div class="carousel-inner">
      {% for item in page.carousel_items.all %}
      {% image item.image fill-900x500 as carousel_img %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ carousel_img.url }}" class="d-block w-100" alt="{{ carousel_img.alt }}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ item.title }}</h5>
          <div>{{ item.caption|richtext }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endif %}
</div>

{% endblock content %}