{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
<div>{{ page.subtitle }}
</div>
    {% for block in page.content %}
        <p>Block type: {{ block.block_type }}</p>

        {% include_block block %}
    {% endfor %}

    <div id="react-root"></div>

  <!-- React JS bundle -->
  <script type="module" src="{% static 'js/react-widget.js' %}"></script>
  <script>
  window.initialData = {{ some_context_var|json_script:"initial-data" }};
</script>

{% endblock content %}
